/*
Creator: Ashley Shelden
Date Created: November 3, 2018
Date last modified
*/

h1 {
  font-family: cursive;
}

.main-section {
  background-color: aquamarine;
}

a:visited {
  color: #e4c3ad;
}

a:hover {
  font-weight: bold;
}

a:active {
  font-decoration: none;
}

section,
#carouselExampleSlidesOnly {
  margin: 25px;
}

.table-img {
  float:center;
}

table td + td {
  border-left: 1px solid black; }

table, td, th {
  text-align: center;
}

form {
 margin: 10px;
 padding: 1em 0;
}

.carousel-inner img {
    margin: 0 auto;
}
